.small_cate_link {
    display: flex;
    align-items: center;   /* ให้ตัวอักษรอยู่กึ่งกลางแนวเดียวกัน */
    gap: 6px;              /* ระยะห่างระหว่างคำ */
    font-size: 12px;
    color: black;
    padding-top: 20px;      /* ห้ามใช้ค่าติดลบ */
    margin-bottom: 40px;
}

.adr-link {
    text-decoration: none;
    color: blue;
}

.next {
    font-size: 12px;
    line-height: 1;        /* กันลูกศรลอย */
}

.zones{
    display: flex;
}
/* ========================= ฝั่งซ้าย ========================= */
.left_zone{
    /* background-color: aqua; test */
    width: 27%;
    height: 200px;
}
/* รูปภาพ */
.seeing_image{
    width:200px;
    height: 200px;
    border-radius: 8px;
}
/* ========================= ฝั่งกลาง ========================= */

.center_zone{
    /* background-color: greenyellow; test */
    width: 53%;
    height: 184px;
    padding: 8px 0 8px 0;
}
.center_zone_r1{
    /* background-color: aquamarine; test */
    height: 110px;
}
.center_zone_r2{
    /* background-color: skyblue; test */
    height: 54px;
}
.center_zone_r3{
    /* background-color: slategrey; test */
    height: 20px;
    display: flex;
    align-items: center;
}

/* ========================= ฝั่งขวา ========================= */
.right_zone{
    /* background-color: yellow; test */
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: flex-end; /* ชิดขวา */
    align-items: flex-end;  
}
/* ========================= ฝั่งล่าง ========================= */

.image_zone{
    /* background-color: pink; test */
    width: 100%;
    height: 70px;
    margin-top: 20px;
}
.image_buttons{
    width:50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 8px;
    padding: 0;
    border: none;
    overflow: hidden;
}
.image_buttons:hover{
    width:50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 8px;
    padding: 0;
    border: none;
    overflow: hidden;
    opacity: 0.8;
}
.image_buttons:active{
    width:50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 8px;
    padding: 0;
    border: none;
    overflow: hidden;
}
.many_images{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.line{
    margin-top: 20px;
    border-bottom: 1px solid #E5E5E5;
}
.detail_zone{
    /* background-color: rgb(255, 102, 127); test */
    margin-top: 30px;
    width: 100%;
    height: 150px;
}