.profile-container {
    max-width: 1100px;
    margin: auto;
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    min-height: 100vh;
}
.profile-title {
    text-align: center;
    margin-bottom: 20px;
}
/*======================================*/
.profile-avatar {
    position: relative;
    width: 120px;
    margin: 0 auto 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-avatar {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #6c63ff;
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
/*====================================*/
.profile-form .row {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.form-group input,
.form-group textarea {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}
/*======================================*/
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #6c63ff;
}
.form-group.full {
    margin-bottom: 10px;
}
.radio-group {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}
/*======================================*/
.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.btn-save,
.btn-cancel {
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

/* ปุ่มบันทึก */
.btn-save {
    background-color: #6c63ff;
    color: #fff;
}
.btn-save:hover {
    background-color: #554ee0;
}
/* ปุ่มยกเลิก */
.btn-cancel {
    background-color: #e0e0e0;
    color: #333;
}
.btn-cancel:hover {
    background-color: #cfcfcf;
}
