.goods{
    width:200px;
    height: auto;
    border-radius: 8px;
    background-color: #F8F8F8;
    margin: 0 16px 20px 0px;
}

.goods_img{
    width: 100%;
    height: 147px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    padding-bottom: 10px;
}

.add-hp-button-or1{
    border: 1px solid #FF8A00;
    border-radius: 8px;
    background:white;
    color: #FF8A00;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}.add-hp-button-or1:hover{
    border: 1px solid #fb9622;
    background:#fce4c9;
    color: #fb9622;
}.add-hp-button-or1:active{
    border: 1px solid #feac4f;
    background:white;
    color: #feac4f;
}

.add-hp-button-or2{
    border: none;
    border-radius: 8px;
    background:#FF8A00;
    color: white;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}.add-hp-button-or2:hover{
    border: none;
    background:#fb9622;
    color: white;
}.add-hp-button-or2:active{
    border: none;
    background:#feac4f;
    color: white;
}

.padding-10px-left-right{
    padding: 0 10px 0 10px;
}
.detail-size{
    /* background-color: aquamarine; Test */
    height:70px;
}