body{
    height:10000px;
    overflow-y: auto;
}

.main_size{
    display:flex;
    flex-direction: column;
    /* background-color: rgb(208, 201, 184) ; Test */
    margin: 40px 5% 40px 5%;
}

.ads{
    width: 100%;
    height: 280px;
    background-color: rgb(255, 166, 166);
}

.line{
    margin-top: 20px;
    border-bottom: 1px solid #E5E5E5;
}
.goods_floor{
    display: flex;
}