/* ===== Login ===== */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #f5f5f5;
}

/* container หลัก */
.container {
    display: flex;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    margin: auto;
    border-radius: 15px;
}

/* ================= ฝั่งซ้าย ================= */
.logo {
    width: 300px;   
    height: auto;
}
.forms{
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    background-color: #F8F8F8;
    width: 100%;
    height: 40px;
}
.login-section {
    width: 40%;
    padding: 60px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.login-content {
    width: 100%;
    max-width: 420px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-content h3 {
    font-size: 36px;
}

/* form */
.login-content form {
    width: 100%;
}

.login-content label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.forgot {
    display: block;
    margin-bottom: 20px;

    font-size: 13px;
    color: #ff8c00;
    text-decoration: none;
}

/* ปุ่ม */
.login-btn {
    width: 100%;
    padding: 12px;

    background: #ff8c00;
    border: none;
    border-radius: 25px;

    font-size: 18px;
    color: #fff;
    cursor: pointer;

    transition: 0.3s;
}

.login-btn:hover {
    background: #be5103;

}

.register {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.register a {
    color: #ff8c00;
    text-decoration: none;
}

/* ================= ฝั่งขวา ================= */
.image-section {
    width: 60%;
    background: #fff7ee;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}