body {
    margin: 0;}

.pt1{
    position: absolute;
    top: 18%;
    left: 40px;
}

.pt2{
    position: absolute;
    top: 26%;
    right: 464px;
}

.pt3{
    position: absolute;
    top: 26%;
    right: 420px;
}
.pt4{
    position: absolute;
    top: 38%;
    right: 360px;
}
.pt5{
    position: absolute;
    top: 38%;
    right: 300px;
}
.pt6{
    position: absolute;
    top: 38%;
    right: 240px;
}
.pt7{
    position: absolute;
    top: 26%;
    right: 40px;
}


.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.above-tab{
    background: orange;
    height: 100px;
    display: flex;
    cursor: pointer;
    position: sticky;
    top: 0;
    align-items: center;
}

.search{
    border: none;
    background:white;
    width: 400px;
    height: 44px;
    border-radius: 8px 0 0 8px;
}

.search-button{
    border: none;
    background:#E5E5E5;
    color: #FF8A00;
    width: 44px;
    height: 46px;
    border-radius: 0 8px 8px 0 ;
}

.search-icon{
    display: flex;
    padding:4px;
    align-items: center;
    width: 24px;
    height: 24px;
}

.white-icon-button{
    border: none;
    background: none;
    color: white;
}

.my-account{
    border: none;
    border-radius: 8px;
    background:white;
    color: #FF8A00;
    width: 160px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.profile-icon{
    display: flex;
    width: 24px;
    height: 24px;
    padding-right: 4px;
}