.cart-container {
    max-width: 900px;
    margin: 60px auto;
    border-radius: 16px;
    min-height: 300px;
    min-height: unset;
}

/* ===== EMPTY STATE ===== */
.cart-empty {
    text-align: center;
    margin-top: 80px;
}

.cart-empty h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.cart-empty p {
    font-size: 14px;
    color: #777;
}


/* ===== LIST (ยังไม่แสดง) ===== */
.cart-list {
    display: none;
    flex-direction: column;
    /* gap: 20px; เพิ่มระยะห่างสินค้า */
}

/*===มีสินค้า===*/
.cart-container.has-items .cart-list {
    display: flex;
}
.cart-container.has-items .cart-empty {
    display: none;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 12px;
    margin-bottom: 20px;
}
.item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.item-info {
    flex: 1;
}

.item-name {
    font-size: 16px;
    margin-bottom: 6px;
}

.item-price {
    color: #ff7a00;
    font-weight: bold;
}