.forgot-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 60px;
    background: #fff;
    min-height: 100vh;
}

.forgot-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 70px;
}

.forgot-form {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    width: 50%;
}
.row {
    display: flex;
    gap: 20px;
}
.form-group label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    padding: 14px 14px;
    font-size: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
}
.sms-row {
    display: flex;
    gap: 15px;
    align-items: center;
}

.sms-row input {
    flex: 1;
    width: 200px;
}
.sms-row .otp-btn {
    width: auto;        /* สำคัญมาก */
    white-space: nowrap;
}
/*ปุ่มขอรหัส otp*/
.otp-btn {
    height: 42px;
    padding: 0 20px;
    background: #ff7a00;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    transition: 0.1s;
}
.otp-btn:hover {
    background: #be5103;

}
.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 40px;
}
/*ปุ่ม ยกเลิก*/
.cancel-btn {
    background: #ff4d4f;
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    cursor: pointer;

    transition: 0.1s;
}
.cancel-btn:hover{
    background: #b31b1b;

}
/*ปุ่มตกลง*/
.confirm-btn {
    background: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    cursor: pointer;

    transition: 0.1s;
}
.confirm-btn:hover{
    background: #2c5f34;
}
/*เพิ่มสีตอนกรอกสำเร็จ*/
.success {
    color: green;
    text-align: center;
    font-weight: bold;
}

.error {
    color: red;
    text-align: center;
    font-weight: bold;
}
/* ===== Success Page Theme ===== */

.success-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 60px;
    background: #fff;
    min-height: 100vh;
}

.success-box {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    text-align: center;
}

.success-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

/* กล่องข้อความ */
.info-box {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #555;
}

/* ปุ่มไปหน้า login ใช้สีเดียวกับ confirm-btn */
.go-login-btn {
    display: inline-block;
    background: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;
}

.go-login-btn:hover {
    background: #2c5f34;
}
/*เพิ่มเติม*/
.success-box {
    animation: fadeUp 0.4s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}