.yellow_bg {
    background-color: #FFD93D;
    margin: 0;
}

/* กล่องเนื้อหาด้านหน้า */
.main_size2 {
    background-color: white;
    margin: 0 15% 0 15% ;
    padding: 0 5% 0 5%;
    min-height: 100vh;
}